/* Write your CSS here */
/* Write your CSS here */
.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.card-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfb;
}
.main-heading {
  color: #1e293b;
  font-family: 'Roboto';
}
.description {
  font-family: 'Roboto';
  color: #475569;
  font-size: 19px;
  font-weight: 500;
}
.input {
}
.button {
  width: 120px;
  margin: 9px;
  background-color: #0284c7;
  border-width: 0px;
  border-radius: 5px;
  font-family: 'Roboto';
  color: white;
  height: 27px;
}
.comment-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 7px;
}
.image {
  margin-left: 25px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.list-container {
  list-style-type: none;
}
